@media screen and (min-width: 515px){
    html{
        background-color: var(--Stone100);
        padding: 60px 50px;
    }
    body{
        max-width: 800px;
        margin: auto;  
        border-radius: 10px; 
    }
    header{
        padding: 20px 20px 0px 20px;
    }
    #ilustration{
        border-radius: 10px;
    }
    #main-title{
        padding-top: 0px;
    }
}