@media screen and (min-width: 515px){
    html{
        background-color: var(--Stone100);
        padding: 20px;
    }
    body{
        width: 70%;
        margin: auto;  
        border-radius: 10px; 
    }
    header{
        padding: 20px 20px 0px 20px;
    }
    #ilustration{
        border-radius: 10px;
    }
    #title-principal{
        padding-top: 0px;
    }
}